@import 'vars';
@import 'global';
@import 'fonts';

// start header

.header__top{
  background-color: #eef1f3;
  &-inner{
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
  }
}
.header__logo{
  padding-left: 8px;
}
.user-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__btn{
    margin: 8px 0;
    padding: 6px;
    width: 140px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    margin-right: 53px;
  }
  &__btn:hover,
  &__icons-btn:hover{
    opacity: 0.8;
  }
  &__icons{
    display: flex;
    margin-right: 10px;
  }
  &__icons-btn{
    margin-right: 34px;
    position: relative;
  }
  &__icons-btn::after{
    height: 22px;
    min-width: 22px;
    position: absolute;
    border-radius: 50%;
    top: -70%;
    right: -70%;
    color: #ffffff;
    font-size: 14px;
    line-height: 23px;
    font-weight: 500;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  &__icons-btn.btn-alarm::after{
    content: "25";
    background-color: #ff6a6c;
  }
  &__icons-btn.btn-envelope::after{
    content: "6";
    background-color: #62d03b;
  }
  &__icons-btn.btn-cart::after{
    content: "2";
    background-color: $blue;
  }
}
.lnr{
  color: $icon-color;
  font-size: 20px;
  &-magnifier{
    font-size: 18px;
    color: #ffffff;
  }
}
.user-info{
  display: flex;
  &__avatar-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  &__content{
    margin-left: 20px;
  }
  &__name{
    color: $dark;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
  }
  &__balance{
    display: block;
    color: $blue;
    font-size: 15px;
    line-height: 15px;
    padding-top: 10px;
  }
}
.header__bottom{
  background-color: #ffffff;
  &-inner{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.menu__list{
  display: flex;
  &-item + &-item{
    margin-left: 34px;
  }
  &-link{
    color: $dark;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
  }
  &-link:hover{
    color: $blue;
  }
}
.header__search-form{
  max-width: 360px;
  position: relative;
}
.header__search-input{
  display: block;
  width: 100%;
  height: 45px;
  border: 1px solid #d9dfe5;
  border-radius: 20px;
  font-size: 15px;
  padding: 0 185px 0 24px;
  &::placeholder{
    color: #898f96;
    font-weight: 500;
  }
}
.header__search-btn{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 70px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

// ended header
// start search

.search{
  position: relative;
  background-color: #294cce;
  min-height: 727px;
}
.search__inner{
  padding-top: 168px;
  color: #ffffff;
  text-align: center;
  &-title{
    font-size: 60px;
    line-height: 70px;
  }
  &-title-bold{
    display: inline-block;
    font-weight: 700;
    line-height: 70px;
  }
  &-text{
    font-weight: 500;
    font-size: 20px;
    margin: 35px 0px 68px;
  }
}
.search__inner-btn{
  padding: 20px 30px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50px;
  margin-bottom: 165px;
  &:hover{
    background-color: #fff;
    color: $blue;
  }
  & + & {
    margin-left: 30px;
  }
}
.search__form{
  display: flex;
  align-items: center;
  width: 1140px;
  height: 135px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  z-index: 1;
  &::before,
  &::after{
    content: "";
    position: absolute;
    height: 135px;
    background-color: #ffffff;
    border-radius: 6px;
    opacity: 0.5;
    z-index: -1;
  }
  &::before{
    width: 1110px;
    top: -15px;
    left: 12px;
  }
  &::after{
    width: 1080px;
    top: -30px;
    left: 30px;
  }
}
.search__wrapper{
  margin-left: 40px;
  height: 53px;
  width: 805px;
  position: relative;
}
.search__input, 
.search__form-btn{ 
  height: 53px;
  border-radius: 6px;
}
.search__input,
.search__select{
  border: 1px solid $border;
  outline-color: $border;
}
.search__input{
  width: 805px;
  padding: 0 230px 0 30px;
}
.search__select{
  padding-left: 20px;
  width: 194px;
  border-radius: 0px 6px 6px 0px;
  height: 53px;
  position: absolute;
  display: block;
  top: 0px;
  right: 0px;
  background-image: url(../images/icons/chevron-down.png);
  background-repeat: no-repeat;
  background-position: right 20px top 50%, 0 0;
  appearance: none;
  cursor: pointer;
}
.search__form-btn{
  color: #fff;
  outline: none;
  border: none;
  background-color: $blue;
  margin-left: 30px;
  width: 223px;
  cursor: pointer;
  &:hover{
    opacity: 0.8;
  }
}

// end search
// start advantages

.advantages{
  background-color: #ffffff;
  padding: 185px 0 120px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
}
.advantages__item{
  max-width: 360px;
  width: 100%;
  text-align: center;
  padding: 40px 15px;
  &:hover{
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  &-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 112px;
    width: 112px;
    margin: 0 auto 35px;
  }
  .image-research{
    background-image: url(../images/advantages-1.png);
  }
  .image-responsive{
    background-image: url(../images/advantages-2.png);
    height: 124px;
    width: 116px;
    margin-bottom: 25px;
  }
  .image-sell{
    background-image: url(../images/advantages-3.png);
  }
  &-title{
    font-size: 24px;
    color: #000000;
  }
  &-text{
    line-height: 30px;
  }
}

//end advantages

